.industry_selection
	-if is_interested_industry
		%h3 Interested Industries
	-else 
		%h3 Experienced Industries
	.field
	#favorite_industries
	- @favorite_industries.each do |industry|
		= render partial: 'industry_check_box', locals: {shouldCheck: ticked.include?(industry), industry: industry, is_interested_industry: is_interested_industry}
		    
	%br/
	%br/
	
	#other_industries
	- @other_industries.each do |industry|
		= render partial: 'industry_check_box', locals: {shouldCheck: ticked.include?(industry), industry: industry, is_interested_industry: is_interested_industry}