.row
  .small-8.large-8.small-centered.large-centered.columns
    %h4.subheader 
      Are you a member of HKUST KSA?
      %br
      %br
      You need an invitation to sign up.
      %br
      Please ask your friend for an invite.
      %br
      %br
      See you soon!