= form_for [current_user, @invitation] do |f|
  .row
    .columns.large-6.large-centered
      = f.text_field :email, placeholder: "Email"
      .actions
        = f.submit 'Send Invitation', class: 'large button large-12 small-12'
  .row
    .small-offset-3.large-offset-3.columns.no_margin_padding.end
      %h5.subheader
        %ul
          %li
            You can only invite members of HKUST KSA (Korean Students' Association)
          %li
            Non-member invitation or sign up can be cancelled by admin.
