.alumnus
  .columns.large-2.small-2.alumnus_date
    ="#{alumnus.entrance_year.strftime("%b %Y")}"
    %br
    ="- #{alumnus.graduation_year.strftime("%b %Y")}"
  .columns.large-offset-1.small-offset-1.large-9.small-9.alumnus_description
    %h2.name= alumnus.name
    %p
      =inline_svg "open_ionic/svg/book.svg", class: "icon"
      =alumnus.majors_text
    %p
      -if alumnus.position?
        =inline_svg "open_ionic/svg/person.svg", class: "icon"
        =alumnus.position
      -if alumnus.organization?
        =inline_svg "open_ionic/svg/people.svg", class: "icon"
        =alumnus.organization
      -if alumnus.location?
        =inline_svg "open_ionic/svg/location.svg", class: "icon"
        =alumnus.location
    %p
      =inline_svg "open_ionic/svg/flag.svg", class: "icon"
      =alumnus.experienced_industries_text
%hr.divider
