html, body, #container, .container_column, #menu, #content_container{
  height: 100%;
}

body{
	width:960px;
	margin-left: auto;
    margin-right: auto;
    position: relative;
}

#content_container{
	margin-top:20px;
}

.text-align-right{
	text-align: right;
}

.text-align-center{
	text-align: center;
}

.no_margin_padding{
	margin: 0;
	padding:0;
}

.top-bar{
  background:skyblue;
}

.icon{
  width:12px;
  height:12px;
}
