//colors
$main: #000000;
$text: #FFFFFF;
$ust-blue: #1A1D71;


html, body, #container, .container_column, #menu, #content_container{
  height: 100%;
}

body{
	width:960px;
	margin-left: auto;
  margin-right: auto;
  position: relative;
}

#content_container{
	margin-top:20px;
}

.top-bar {
  margin-bottom: 50px;
}

.text-align-right{
	text-align: right;
}

.text-align-center{
	text-align: center;
}

.no-side-margin-padding{
  margin-left: 0;
  margin-right: 0;
  padding-left:0;
  padding-right:0;
}

.no-margin-padding, .no_margin_padding{
	margin: 0;
	padding: 0;
}

.icon{
  width:10px;
  height:10px;
  color:$ust-blue;
}

.icon-big {
  margin-left: 5px;
}

.icon-big:visited {
  color: inherit;
}


.labels{
  color:$ust-blue;
  margin-right:10px;
}

.divider{
  margin:0px;
}

.fullWidth {
   width: 960px;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}
