// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.date_selector select{
  width:25%;
}

#sign_up_notice{
  margin-top:20px;
  li{
    color:blue;
  }
}

#linkedin_disconnect{
  font-size: 12px;
}

#linkedin_connect a{
  color: white;
  font-size: 14px;
}

.industry_selection{
  margin-top:15px;
  ul{
    margin-top:20px;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    li{
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
  }
}


.other_industries{
  display: none;
}

ul.major_list{
  columns: 6;
  -webkit-columns: 6;
  -moz-columns: 6;
  li{
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
}

#update_button{
  margin-top:20px;
}

.alumnus{
  padding-top:10px;
  padding-bottom:10px;
  height:200px;
  .alumnus_date{
    position:relative;
    top:50%;
    transform: translateY(-50%);
    text-align:center;
  }
  padding-top:10px;
}

.basic-info-card{
  margin-top: 3px;
}


#user-contact{
  margin-top: 50px;
  .contact-icon{
    width:20px;
    height:20px;
  }
}

.fa-linkedin-square:hover {
  color: #007bb6;
}

.fa-inbox:hover {
  color:blue;
}
