// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$ust-blue: #1A1D71;

.date_selector select{
  width:25%;
}

#sign_up_notice{
  li{
    color:blue;
  }
}

.sign_up_error {
  color:red;
  font-weight: bold;
}

#linkedin_disconnect{
  font-size: 12px;
}

#linkedin_connect a{
  color: white;
  font-size: 14px;
}

.industry_selection{
  margin-top:15px;
  ul{
    margin-top:20px;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    li{
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
  }
}


.other_industries{
  display: none;
}

ul.major_list{
  columns: 6;
  -webkit-columns: 6;
  -moz-columns: 6;
  li{
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
}

#update_button{
  margin-top:20px;
}

.current {
  height: 150px;
}

.alumni {
  height:200px;
}

.student{
  padding-top:10px;
  padding-bottom:10px;
  .date{
    position:relative;
    top:50%;
    transform: translateY(-50%);
    text-align:center;
  }
}

.toggle_dropdown_box {
  text-size: 12px;
}

.basic-info-card{
  margin-top: 3px;
}

#user-contact{
  margin-top: 50px;
  .contact-icon{
    width:20px;
    height:20px;
  }
}

#reset-filter{
  text-align: right;
  visibility: hidden;
}

.fa-linkedin-square:hover {
  color: #007bb6;
}

.fa-inbox:hover {
  color:blue;
}

.alumni_student_divider {
  height: 2px;
  background-color: $ust-blue;
  text-align: center;
  margin-bottom:40px;
}

.line_header_text {
  background-color: white;
  color: $ust-blue;
  position: relative;
  top: -0.5em;
  font-size: 20px;
  padding-left: 5px;
  padding-right: 5px;
}
