%nav.top-bar{'data-topbar' => true, "role"=>"navigation"}
  %ul.title-area
    %li.name

  %section.top-bar-section
    %ul.right
      - if user_signed_in?
        %li= link_to "Hi, #{current_user.name}!", '#'
        %li
          = link_to users_path do
            =fa_icon "home", class: "nav-icon fa-lg"
        %li
          =link_to new_user_invitation_path(current_user) do
            =fa_icon "plus", class: "nav-icon fa-lg"
        %li
          =link_to edit_registration_path(current_user) do
            =fa_icon "edit", class: "nav-icon fa-lg"
        %li
          =link_to destroy_user_session_path, method: :delete do
            =fa_icon "sign-out", class: "nav-icon fa-lg"
      - else
        %li= link_to "Login", new_user_session_path
