#toggle_box
  %h3 Major
  =select :toggle, :major, @majors.collect {|i| [i.code, i.id]}, prompt: 'Select Major'
  
  %h3 Industry
  %select
  
  %h3 Entrance Year
  %select
  
  %h3 Graduation Year
  %select
  
  %h3 Location
  %select