#toggle_box
  %h3 School
  =select :toggle, :school, @schools, prompt: 'Select School'
  
  %h3 Major
  =select :toggle, :major, @majors.collect {|i| [i.code, i.id]}, prompt: 'Select Major'
  
  %h3 Industry
  =select :toggle, :industry, @industries.collect {|i| [i.name, i.id]}, prompt: 'Select Industry'
  
  %h3 Entrance Year
  =select :toggle, :entrance_year, @entrance_years, prompt: 'Select Year'
  
  %h3 Graduation Year
  =select :toggle, :graduation_year, @graduation_years, prompt: 'Select Year'
  
  %h3 Location
  =select :toggle, :location, @locations, prompt: 'Select Location'